
:root {
  --light: #080808;
  --red: #e74c3c;
  --lightred: #f9eae7;
  --lightyellow: #fff5d1;
}

/* Apply custom Google font */
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* Shared custom styles for headers */
.header,
.custom-modal-header,
.custom-card-header,



.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}


/* style project rows based on status (late, due today) */
.project-late {
  background-color: var(--lightred);
}

.project-today {
  background-color: var(--lightyellow);
}